<footer>

    <div class="footer-div1">
        <div>
            <h4>NAVIGATE</h4>
            <div class="footer-content">
                <div>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">On The Menu</a></li>
                        <li><a href="">Pricing</a></li>
                        <li><a href="">YumYum WOW</a></li>
                        <li><a href="">Join Our Team</a></li>
                        <li><a href="">Our Story</a></li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li><a href="">Blog</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Our Ingredients</a></li>
                        <li><a href="">Our Commitment</a></li>
                        <li><a href="">Gift Cards</a></li>
                    </ul>
                </div>

                <div>
                    <ul>
                        <li><a href="">Press</a></li>
                        <li><a href="">Terms of Use</a></li>
                        <li><a href="">Purchase Terms & </a></li>
                        <li><a href="">Conditions</a></li>
                        <li><a href="">Investors</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <h4>GET IN TOUCH</h4>
            <ul>
                <li>123456789</li>
                <li><a href="">xyz123@yumyumfood.ca</a></li>
                <li>Follow Us</li>
            </ul>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
        </div>

    </div>

    <div class="copy-right">
        <p>Copyright &copy; Winter 2021, Simit Yadav, WEB322NCC</p>
    </div>

</footer>