<header>
    <nav>
        <div class="logo">
            <a href="/"><img src="/IMAGES/yum2.png" alt="Logo Image" /></a>
        </div>

        <div>
            <ul class="menu-list">
                <li>
                    <a href="/on-the-menu">ON THE MENU</a>
                </li>
                <li>
                    <a href="/specials">SPECIALS</a>
                </li>
                <li>
                    <a href="/pricing">PRICING</a>
                </li>
                <li>
                    <a href="/contribute">CONTRIBUTE</a>
                </li>
                <li>
                    <a href="/about">ABOUT</a>
                </li>
                <li>
                    <a href="/faq"> FAQ </a>
                </li>
            </ul>
        </div>

        <div class="sign-logn">
            <ul>
                <li>
                    <button><a href="/login">Login</a></button>
                </li>
                <li>
                    <button><a href="/signup">Sign Up</a></button>
                </li>
            </ul>
        </div>

        <div class="burger">
            <div class="lines"></div>
            <div class="lines"></div>
            <div class="lines"></div>
        </div>
    </nav>
</header>