<div style="display: grid; background-color: #c6ac8f">
    <div>
        <img src="{{imageUrl}}" alt="">
        <h2>{{title}}</h2>
        <p>{{ingreidents}}</p>
    </div>
    <button>{{price}}</button>
</div>