<section class="signup">
    <div>
        <p id="title">Welcome Back</p>
        <form action="" method="">
            <div class="form-container">
                <input type="email" class="input" placeholder="Email">
            </div>
            <div class="form-container">
                <input type="password" class="input" placeholder="Password">
            </div>
            <div id="submitButton">
                <input type="button" value="Log in" class="input">
            </div>
        </form>
    </div>
</section>