<section class="signup">
    <div>
        <p id="title">Sign Up</p>
        <p>Create account by entering your email and choose a password.</p>
        <form action="" method="">
            <div class="form-container">
                <input type="text" class="input" placeholder="First Name">
            </div>
            <div class="form-container">
                <input type="text" class="input" placeholder="Last Name">
            </div>
            <div class="form-container">
                <input type="email" class="input" placeholder="Email Address">
            </div>
            <div class="form-container">
                <input type="password" class="input" placeholder="Password">
            </div>
            <div id="submitButton">
                <input type="button" value="Sign Up" class="input">
            </div>
        </form>
    </div>
</section>